<h2>{{lobby.name}}</h2>
<mat-card>
    @for (member of lobby.members; track member) {
    <div>
        {{member.name}}
    </div>
    }

    <button mat-button (click)="play('')">Game Selector</button>
</mat-card>

@switch (lobby.game) {
@case('tic-tac-toe'){
<app-tic-tac-toe [gameState]="lobby.gameState" (gameEvent)="gameEvent($event)"></app-tic-tac-toe>
}
@case('playing-cards'){
<app-playing-cards [gameState]="lobby.gameState" (gameEvent)="gameEvent($event)"></app-playing-cards>
}

@default {
<mat-card>
    <h2>Select Game</h2>
    @for (game of getKeys(lobby.games); track game) {
    <div class="game-row">
        <div class="game-name">
            {{ game }}
        </div>
        @for (config of getKeys(lobby.games[game]); track config) {
        <div class="game-name">
            {{ config }}
        </div>
        <mat-slider [min]="lobby.games[game][config].min" [max]="lobby.games[game][config].max" step="1" showTickMarks
            discrete>
            <input matSliderThumb [(ngModel)]="lobby.games[game][config].default">
        </mat-slider>
        }
        <button mat-raised-button color="primary" (click)="play(game)">
            Play
        </button>
    </div>

    }
</mat-card>
}
}